---
// base page layout
import BaseLayout from '../layouts/BaseLayout.astro';

// passed props to BaseLayout
const pageTitle = 'Quién';

const identity = {
    firstName: 'Roberto',
    country: 'Chile',
    occupation: 'Arquitecto',
    hobbies: ['photography', 'gardening', 'sculpture']
};

const skills = [
    'HTML', 'CSS', 'JavaScript', 'React', 'Writing Docs'
];

---

<BaseLayout pageTitle={pageTitle}>

        <h1>{pageTitle}</h1>
        <p>Some facts about me</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country} and I work as an {identity.occupation}</li>
            {identity.hobbies.length >= 2 && 
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    
</BaseLayout>