---
// base page layout
import BaseLayout from '../layouts/BaseLayout.astro';

// passed props to BaseLayout
const pageTitle = 'Quién';

const identity = {
    firstName: 'Roberto Villalón Sanguinetti',
    occupation: ['mano de obra calificada', 'Arquitecto'],
};

const skills = [
    'Problem Solving', 
    'Desarrollo Web', 
    'Programación Python para ETL',
    'Programación en JS/TypeScript + CSS', 
    'React', 
    'Next.js', 
    'Astro', 
    'SQL', 
    'Bash',
    'Comunicación Estratégica', 
    'Resiliencia',
    'Levantar Requerimientos', 
    'Evaluación de Proyectos',
    'Anteproyectos',
    'Proceso de soldadura SMAW', 
    'Faenas de hormigonado',
    'Carpintería en maderas',      
    'Diseño', 
    'Escultura',
    'Jardinería', 
    'Huertos', 
    'Levantamiento Topográfico',
    'Riego', 
    'Instalaciones Sanitarias',
    'Estructuras', 
    'Iluminación',
    'Diseñar Eventos',
    'Arquitectura',
    'BIM',
    'Dibujo CAD',
    'MS Excel',
    'MS Power BI',
    'Estadística y Probabilidades',
    'Lenguaje Inglés US',
    'Fotografía',
    'Cocina',
    'Escalada Libre',
    'Instalación de Anclajes y Cables',
];
---

<BaseLayout pageTitle={pageTitle}>

    <article class="about">
        <h1>{pageTitle}</h1>
        <p>Mi nombre es {identity.firstName}, {identity.occupation[1]}, chileno, titulado en la UTFSM (Valparaíso, Chile). He completado cursos en distintas disciplinas para profundizar habilidades.</p>
        <p>Desarrollo y documento mis procesos de resolución de problemas (<em>problem-solving</em>), que aplico en proyectos de arquitectura y tecnologías de información, y también escenarios que los afectan.</p>
        <p>Aprendí a traducir requerimientos e intermediar entre el lado de negocio y el lado técnico.</p>
        <p>Como pasatiempo cultivo plantas, diseño, reparo, construyo o programo.</p>        
        <p>He resuelto distintos encargos, de variada envergadura, lo que me ha expuesto a aprender:</p> 
        <ul>{skills.map(s => <li>{s}</li>)}</ul>
    </article>

</BaseLayout>