---
// base page layout
import BaseLayout from '../layouts/BaseLayout.astro';

// passed props to BaseLayout
const pageTitle = 'Quién';

const identity = {
    firstName: 'Roberto I. Villalón Sanguinetti',
    country: 'Chile',
    occupation: ['Arquitecto', 'mano de obra calificada'],
};

const skills = [
    'Problem Solving', 
    'Desarrollo Web', 
    'Programación Python para ETL',
    'Programación en JS/TypeScript + CSS', 
    'React', 'Next.js', 'Astro', 'SQL', 'Bash',
    'Comunicación Estratégica', 
    'Resiliencia',
    'Levantar Requerimientos', 
    'Evaluación de Proyectos',
    'Anteproyectos',
    'Proceso de soldadura SMAW', 
    'Faenas de hormigonado',
    'Carpintería en maderas',      
    'Diseño', 
    'Jardinería', 
    'Huertos', 
    'Levantamiento Topográfico',
    'Riego', 
    'Instalaciones Sanitarias',
    'Estructuras', 
    'Iluminación',
    'Diseñar Eventos',
    'Arquitectura',
    'BIM',
    'Dibujo CAD',
    'MS Excel',
    'MS Power BI',
    'Estadística y Probabilidades',
    'Lenguaje Inglés',
    'Fotografía',
    'Cocina',
    'Escalada Libre',
    'Instalación de Anclajes',
];
---

<BaseLayout pageTitle={pageTitle}>

    <article class="about">
        <h1>{pageTitle}</h1>
        <p>Mi nombre es {identity.firstName}, resido en {identity.country}.</p>
        <p>Me desempeño en <em>problem-solving</em> (resolución de problemas) aplicados en proyectos de arquitectura que se construyen, y en tecnología y negocios. Intermedio entre el lado de negocio y el lado técnico, cuando no asumo alguno.</p>
      
        <p>Estoy titulado como {identity.occupation[0]} en la UTFSM (Valparaíso, Chile), y he completado cursos en distintas disciplinas. He medido mis capacidades con gente nacional y de otros países.</p>
        <p>Como pasatiempo resuelvo reparaciones, construcciones o programación, como {identity.occupation[1]}.</p>
        
        <p>He resuelto distintos casos, lo que me ha expuesto a aprender habilidades diversas, tales como:</p> 
        <ul>{skills.map(s => <li>{s}</li>)}</ul>
    </article>

</BaseLayout>